# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# OxMYSQL Connection
set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=creative;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

# Nested configs!
exec resources/resources.cfg

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "pt-BR" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Loading a server icon (96x96 PNG file)
load_server_icon server.png

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
sv_master1 ""

# Remove the `#` from the below line if you do not want your server to be localhost server.
#set sv_lan 1

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://wipe.gg/creative/crconnect.webm"
sets banner_connecting "https://wipe.gg/creative/crconnect.webm"

# Add admins system
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:110000146e380b4 group.admin

# A boolean variable that, if true, hides player IP addresses from public reports output by the server.
sv_endpointprivacy true

# Force build
set sv_enforceGameBuild 2612

# OneSync
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

# PMA Voice
setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# Set your server's hostname
sv_hostname "Creative Roleplay"
sets sv_projectName "Creative Roleplay"
sets sv_projectDesc "Creative Roleplay"

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 5

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# License for Tebex
sv_tebexSecret ""

# License key for your server
sv_licenseKey ""