html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background: transparent !important;
}

body {
	background: transparent !important;
}

#notifications {
	right: 50px;
	bottom: 217px;
	display: flex;
	z-index: 99999;
	color: #c6c6c6;
	font-size: 13px;
	max-width: 400px;
	overflow: hidden;
	border-radius: 3px;
	letter-spacing: .5px;
	align-items: flex-end;
	font-family: "Roboto";
	flex-direction: column;
	position: absolute !important;
}

.timer-bar {
    left: 0;
    padding: 0;
    height: 5px;
    width: 100%;
	margin-top: 15px;
	position: absolute;
    background-color: #fafafa;
}

#notifications b {
	color: #fff;
	font-weight: 300;
}

#notifications > div {
	color: #c6c6c6;
	margin-top: 10px;
	line-height: 20px;
	position: relative;
	border-radius: 3px;
	text-shadow: 1px 1px #000;
	padding: 15px 20px 15px 45px;
	border-bottom: 5px solid #222;
}

#verde {
	background: rgba(15,15,15,.75) url("images/check.png") no-repeat center left 11px;
}

#verde > .timer-bar {
    background-color: #a3c846 !important;
}

#vermelho {
	background: rgba(15,15,15,.75) url("images/cancel.png") no-repeat center left 11px;
}

#vermelho > .timer-bar {
    background-color: #e61a42 !important;
}

#blood {
	background: rgba(15,15,15,.75) url("images/blood.png") no-repeat center left 11px;
}

#blood > .timer-bar {
    background-color: #fb5858 !important;
}

#hunger {
	background: rgba(15,15,15,.75) url("images/hunger.png") no-repeat center left 11px;
}

#hunger > .timer-bar {
    background-color: #fc913a !important;
}

#thirst {
	background: rgba(15,15,15,.75) url("images/thirst.png") no-repeat center left 11px;
}

#thirst > .timer-bar {
    background-color: #669ae1 !important;
}

#azul {
	background: rgba(15,15,15,.75) url("images/ring.png") no-repeat center left 11px;
}

#azul > .timer-bar {
    background-color: #6fa9dc !important;
}

#amarelo {
	background: rgba(15,15,15,.75) url("images/important.png") no-repeat center left 11px;
}

#amarelo > .timer-bar {
    background-color: #ffb400 !important;
}

#locked {
	background: rgba(15,15,15,.75) url("images/locked.png") no-repeat center left 11px;
}

#locked > .timer-bar {
    background-color: #6eb969 !important;
}

#unlocked {
	background: rgba(15,15,15,.75) url("images/unlocked.png") no-repeat center left 11px;
}

#unlocked > .timer-bar {
    background-color: #e62441 !important;
}

#default {
	padding: 15px 20px !important;
	line-height: 20px !important;
	background: rgba(15,15,15,.75);
}

#default line {
	text-shadow: 0 0 transparent !important;
	color: rgba(255,255,255,0.1);
}

#default > .timer-bar {
    background-color: #fff !important;
}

#Shortcuts {
	width: 100%;
	height: 95%;
	display: none;
	align-items: flex-end;
	justify-content: center;
}

#Shortcuts div {
	float: left;
	width: 100px;
	height: 100px;
	font-size: 10px;
	margin-right: 25px;
	border-radius: 3px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background: rgba(15,15,15,.75);
	background-size: 95% !important;
}

#Shortcuts div:last-child {
	margin-right: 0;
}

#Shortcuts b {
	font-size: 11px;
	font-weight: 300;
	padding: 8px 10px;
	text-shadow: none;
	position: absolute;
	letter-spacing: 1px;
	font-family: "Roboto";
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: rgba(255,255,255,0.75);
}