* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Roboto";
}

.console {
	color: red;
	background-color: white;
}

.wprompt {
	color: #fff;
	width: 600px;
	height: 150px;
	display: flex;
	border-radius: 3px;
	position: absolute;
	padding: 10px 15px;
	font-family: "Roboto";
	flex-direction: column;
	background-color: rgba(15,15,15,.75);
}

.wprompt h1 {
	font-size: 13px;
	font-weight: 300;
	padding: 7px 0 12px 5px;
}

.wprompt textarea {
	flex: 1;
	color: #ccc;
	width: 100%;
	resize: none;
	padding: 10px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none !important;
	background-color: rgba(15,15,15,.50);
	border: 1px solid rgba(255,255,255,0.2);
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
}

.requestManager {
	width: 100%;
	height: 95%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#NotifyBackground {
	color: #ccc;
	float: left;
	width: 303px;
	padding: 25px;
	font-size: 13px;
 	line-height: 20px;
	margin-right: 20px;
	border-radius: 3px;
	font-family: "Roboto";
	background: rgba(15,15,15,.75);
}

#NotifyBackground b {
	color: #fff;
	font-weight: 300;
}

#NotifyText {
	float: left;
	width: 303px;
	margin-bottom: 15px;
}

#NotifyY {
	color: #fff;
	float: left;
	padding: 10px 15px;
	background: #2e6e4c;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#NotifyU {
	color: #fff;
	float: left;
	margin-left: 20px;
	padding: 10px 15px;
	background: #2e6e4c;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#NotifyLeg {
	white-space: nowrap;
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	float: left;
	color: #a0ceb6;
	letter-spacing: 2px;
	background: #275f42;
	padding: 10px 15px;
}

#deathDiv {
	width: 100%;
	bottom: 50px;
	display: none;
	position: fixed;
}

#deathText {
	width: 300px;
	margin: 0 auto;
	font-size: 13px;
	line-height: 20px;
	padding: 15px 20px;
	border-radius: 3px;
	text-align: center;
	font-family: "Roboto";
	text-shadow: 1px 1px #000;
	color: rgba(255,255,255,0.75);
	background: rgba(15,15,15,.75);
}

#deathText color {
	color: #92ac29;
}

#deathText color2 {
	color: #bd962e;
}

#identityDiv {
	top: 175px;
	right: 50px;
	color: #ccc;
	float: right;
	display: none;
	max-width: 345px;
	border-radius: 3px;
	position: absolute;
	padding: 10px 20px 20px;
	text-shadow: 1px 1px #000;
	background: rgba(15,15,15,.75);
	border-left: 5px solid #2e6e4c;
}

.identityLeft {
	color: #666;
	float: left;
	width: 175px;
	font-size: 11px;
	margin-top: 10px;
	line-height: 15px;
}

.identityRight {
	color: #777;
	float: left;
	width: 150px;
	font-size: 11px;
	margin-top: 10px;
	line-height: 15px;
	margin-left: 15px;
}

.identityLeft r, .identityRight r {
	color: #fff;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: "Saira";
}